html{
    border-bottom: 5px solid red;
    background-color: #eeeeee;
}

.main{
    width: 30%;
    padding: 50px;
    margin: auto;
    margin-bottom: 75px;
    background-color: #ffffff;

    box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.5);			
    -moz-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.5);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.5);
	/*http://www.webestools.com/css3-box-shadow-generator-css-property-easy-shadows-div-html5-drop-shadow-moz-webkit-shadow-maker.html*/
}

.headTitle{
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    font-family: serif;
    text-align: center;
}

span{
    margin-left: 70px;
    margin-right: 70px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-family: serif;
}

.pic{
    text-align: center;
}

img{
    width: 30%;
    border-radius: 10px;
}

.base{
    padding: 0 15px 0 15px;
    border-bottom: 1px solid grey;
}

.down{
    padding: 0 15px 0 15px;
}

ul{
    margin-left: -20px;
}

.min_line{
    margin-top: -15px;
}
