table {
  border: 11px solid transparent;
  width: 500px;
  height: 540px;
  border-collapse: collapse;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -270px;
  margin-left: -250px;
}
td {
  border: 10px solid #2a2c1d;
}
.red {
  background-color: #ff5b3e;
  height: 175px;
}
.blue {
  background-color: #0d4b8b;
}
.yellow {
  background-color: #fff160;
}
.black {
  background-color: #24302c;
}
.lastBlackBlock {
  width: 12px;
  height: 25px;
}