#wrapper {
  	width: 1060px;
  	margin: auto;
    padding-bottom: 60px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.5);
}

/*HEADER*/
.headerBlock {
    padding: 40px 46px;
}

.headerMenu {
    margin-top: 40px;
    background: #535252;
    height: 40px;
}

.headerMenu li {
    display: inline-block;
    padding-left: 0;
    background: #535252;
    border-left: 1px solid #535252;
    border-right: 1px solid #535252;
    width: 140px;
    height: 40px;
}

.headerMenu li a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
    padding-left: 25px;
}

.headerMenu li:hover {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: #434343;
    color: #ffffff;
}

#firstButton:hover {
    border-left: 1px solid #535252;
}
/*end of HEADER*/

.centerBlock {
    width: 968px;
    margin: auto;
}

/*SIDEBAR*/
.leftSidebarBlock {
    background: #ffffff;
    width: 240px;
    float: left;
}

.leftSidebar li {
    margin: -1px -1px -1px 0;
    padding: 0 0 0 25px;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    line-height: 40px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #636363;
}

.leftSidebar li a {
    color: #636363;
    text-decoration: none;
}

.leftSidebar li:hover {
    padding: 0 0 0 40px;
}
/*end of SIDEBAR*/

/*CONTENT*/
.contentBlock {
    background: #ffffff;
    margin-left: 286px;
}

.itemImage {
    margin: auto;
    padding: 47px 89px;
    border: 1px solid #c8c8c8;
}

p {
    padding: 29px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #2c2c2c;
}
/*end of CONTENT*/

.contentBlock:after {
	content: '';
	display: block;
	clear: both;
}

/*FOOTER*/
.footerBlock {
    margin: 31px 46px 0 46px;
    background: #e1e1e1;
}

.footerMenu {
    float: left;
    width: 600px;
    background: #e1e1e1;

}

.footerMenu li {
    display: inline-block;
    padding-left: 0;
    width: 140px;
    height: 40px;
}

.footerMenu li a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 40px;
    text-decoration: none;
    color: #2c2c2c;
    padding-left: 25px;
}

.footerMenu li a:hover {
    text-decoration: underline;
}

.allRights {
    text-align: right;
    padding-right: 25px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 40px;
    text-decoration: none;
    color: #2c2c2c;
}
/*end of FOOTER*/
